<div class="league-header" data-aos="zoom-in-up">
  <div class="logo">
    <img src="/img/league/<%= pageData.data.logo %>" />
  </div>
  <div class="info">
      <div class="title"><%= pageData.data.title %></div>
      <div class="text"><%= pageData.data.year %></div>
  </div>
</div>

<div class="league-nav" data-aos="fade-right">
  <div class="league-nav-title">
    <div class="subtitle"><%= pageData.data.title %> </div>
    <div class="subtitle2">(</div>
    <div class="icon--flag event_title fl_<%= pageData.data.num %>">
      <span class="event__title--type"><%= pageData.data.category %> </span>
    </div>
    <div class="subtitle2">)</div>
  </div>
  <ul class="tabs">
    <% if (todayMatches.length===0) { %>
      <% if (table) { %>
        <li class="tab col s4"><a href="#fixtures-tab">Upcoming Matches</a></li>
        <li class="tab col s4"><a href="#latest-tab">Latest Scores</a></li>  
        <li class="tab col s4"><a href="#standings-tab">Standings</a></li>          
                           
      <% } else { %> 
        <li class="tab col s6"><a href="#fixtures-tab">Upcoming Matches</a></li>
        <li class="tab col s6"><a href="#latest-tab">Latest Scores</a></li>               
      <% } %>                 
    <% } else { %>
      <% if (table) { %>
        <li class="tab col s3"><a href="#matches-tab">Today's Matches</a></li>
        <li class="tab col s3"><a href="#fixtures-tab">Fixtures</a></li> 
        <li class="tab col s3"><a href="#latest-tab">Latest Scores</a></li>        
        <li class="tab col s3"><a href="#standings-tab">Standings</a></li>                    
      <% } else { %> 
        <li class="tab col s4"><a href="#matches-tab">Today's Matches</a></li>
        <li class="tab col s4"><a href="#fixtures-tab">Fixtures</a></li>    
        <li class="tab col s4"><a href="#latest-tab">Latest Scores</a></li>
       
      <% } %>      
    <% } %>
  </ul>
</div>





