<div id="home-tab" class="template_5-2-2" data-aos="fade-up">

  <div class="stats_table--filter" team='<%= data.matchInfo.homeTeam %>'>
    <span class="showOverall waves-effect waves-light press">Overall</span>
    <b ><%= data.matchInfo.homeTeam %> :</b>  
    <i class="showHome waves-effect waves-light">Home</i>/
    <i class="showAway waves-effect waves-light">Away</i>
  </div>

  <div class="stats_table--header statsHome">
    <div class="stats_table--event">Event</div>
    <div class="stats_table--match">Match</div>
    <div class="stats_table--1stHalf">1stHalf</div>
    <div class="stats_table--2stHalf">2stHalf</div>
  
    <!-- Match -->
    <div class="stats_table--main" title='Total'>
      <a class='stats_dropdown-trigger' 
         data-target='HT_total_dropdown-match'>
         Total
      </a>
    </div>
    
    <div class="stats_table--basic" title='Total 1st Half'>
      <a class='stats_dropdown-trigger' 
         data-target='HT_total_dropdown-1stHalf'>
         <b class="show-on-small hide-on-med-and-up">1H</b>
         <b class="hide-on-small-only">1st Half</b>  
      </a>    
    </div>
    <div class="stats_table--basic" title='Total 2nd Half'>
      <a class='stats_dropdown-trigger' 
         data-target='HT_total_dropdown-2ndHalf'>
         <b class="show-on-small hide-on-med-and-up">2H</b>
         <b class="hide-on-small-only">2nd Half</b>           
      </a>        
    </div>
  
    <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
        <a class='stats_dropdown-trigger' 
           data-target='HT_total_dropdown-match--select'>
           <%= data.matchInfo.homeTeamShortName %>
        </a>
    </div>
    <div class="stats_table--opp" title='Opponent team'>
      <a class='stats_dropdown-trigger' 
        data-target='HT_total_dropdown-match--opponent'>
        Opp   
      </a>    
    </div>
    
    <!-- 1stHalf -->
    <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
        <a class='stats_dropdown-trigger' 
          data-target='HT_total_dropdown-1stHalf--select'>
          <%= data.matchInfo.homeTeamShortName %>
        </a>
    </div>
    <div class="stats_table--opp" title='Opponent team'>
      <a class='stats_dropdown-trigger' 
         data-target='HT_total_dropdown-1stHalf--opponent'>
         Opp
      </a>    
    </div>    
    
    <!-- 2stHalf -->
    <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
        <a class='stats_dropdown-trigger' 
           data-target='HT_total_dropdown-2ndHalf--select'>
           <%= data.matchInfo.homeTeamShortName %>
        </a>
    </div>
    <div class="stats_table--opp" title='Opponent team'>
      <a class='stats_dropdown-trigger' 
         data-target='HT_total_dropdown-2ndHalf--opponent'>
         Opp
      </a>    
    </div>                     
    
  
    <% for(let m=0; m < data.matchStats[0].matches.length; m++) { %>
      <% let info = data.matchStats[0].matches[m].matchInfo %>
      <% let statistic = data.matchStats[0].matches[m][stats] %>
  
      <% if (!statistic.match.homeTeam || statistic.match.homeTeam==="no data") { %>
        <% continue %> 
      <% } %>
  
      <div class="matches_row" team='<%= info.homeTeam %>'>
        <div class="stats_td--event tooltipped" 
            data-position="top" 
            data-tooltip="<div><img src='https://www.soccer24.com<%= flag_url[info.flag] %>'>
                          <span><%= info.league %></span></div>
                          <i>(<%= info.fullDate %>)</i><br/>
                          <%= info.tooltip %>">
          <div>
            <span class="stats_td--date"><%=info.fullDate %></span>
            <img src='https://www.soccer24.com<%= flag_url[info.flag] %>' alt="">
            <span class="stats_td--status"><%=info.status %></span>
          </div>
        </div>
    
        <div class="stats_td--main HT_total_match" stats="compare"><%=parseInt(statistic.match.homeTeam) 
          + parseInt(statistic.match.awayTeam) %></div>
        <div class="stats_td--basic HT_total_1stHalf" stats="compare"><%=parseInt(statistic.firstHalf.homeTeam) 
          + parseInt(statistic.firstHalf.awayTeam) %></div>
        <div class="stats_td--basic HT_total_2ndHalf" stats="compare"><%=parseInt(statistic.secondHalf.homeTeam) 
          + parseInt(statistic.secondHalf.awayTeam) %></div> 
    
        <div class="stats_td--main HT_total_match--select" stats="compare"><%= parseInt(statistic.match.selectTeam) %></div> 
        <div class="stats_td--opp HT_total_match--opponent" stats="compare"><%= parseInt(statistic.match.opponent) %></div>
      
        <div class="stats_td--main HT_total_1stHalf--select" stats="compare"><%= parseInt(statistic.firstHalf.selectTeam) %></div> 
        <div class="stats_td--opp HT_total_1stHalf--opponent" stats="compare"><%= parseInt(statistic.firstHalf.opponent) %></div>                              
        
        <div class="stats_td--main HT_total_2ndHalf--select" stats="compare"><%= parseInt(statistic.secondHalf.selectTeam) %></div> 
        <div class="stats_td--opp HT_total_2ndHalf--opponent" stats="compare"><%= parseInt(statistic.secondHalf.opponent) %></div>  
      
      </div> 
    <% } %>    
  
  </div>
  </div>

  <div id="away-tab" class="template_5-2-2">
    <div class="stats_table--filter" team='<%= data.matchInfo.awayTeam %>'>    
      <span class="showOverall waves-effect waves-light press">Overall</span>
      <b><%= data.matchInfo.awayTeam %> :</b>  
      <i class="showAway waves-effect waves-light">Home</i>/
      <i class="showHome waves-effect waves-light">Away</i>
    </div>

  <div class="stats_table--header statsAway">
    <div class="stats_table--event">Event</div>
    <div class="stats_table--match">Match</div>
    <div class="stats_table--1stHalf">1stHalf</div>
    <div class="stats_table--2stHalf">2stHalf</div>
  
    <!-- Match -->
    <div class="stats_table--main" title='Total'>
      <a class='stats_dropdown-trigger' 
         data-target='AT_total_dropdown-match'>
         Total
      </a>
    </div>
    
    <div class="stats_table--basic" title='Total 1st Half'>
      <a class='stats_dropdown-trigger' 
         data-target='AT_total_dropdown-1stHalf'>
         <b class="show-on-small hide-on-med-and-up">1H</b>
         <b class="hide-on-small-only">1st Half</b>             
         
      </a>    
    </div>
    <div class="stats_table--basic" title='Total 2nd Half'>
      <a class='stats_dropdown-trigger' 
         data-target='AT_total_dropdown-2ndHalf'>
         <b class="show-on-small hide-on-med-and-up">2H</b>
         <b class="hide-on-small-only">2nd Half</b>             
      </a>        
    </div>  
    <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
        <a class='stats_dropdown-trigger' 
           data-target='AT_total_dropdown-match--select'>
           <%= data.matchInfo.awayTeamShortName %>
        </a>
    </div>
    <div class="stats_table--opp" title='Opponent team'>
      <a class='stats_dropdown-trigger' 
        data-target='AT_total_dropdown-match--opponent'>
        Opp
      </a>    
    </div>
    
    <!-- 1stHalf -->
    <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
        <a class='stats_dropdown-trigger' 
          data-target='AT_total_dropdown-1stHalf--select'>
          <%= data.matchInfo.awayTeamShortName %>
        </a>
    </div>
    <div class="stats_table--opp" title='Opponent team'>
      <a class='stats_dropdown-trigger' 
         data-target='AT_total_dropdown-1stHalf--opponent'>
         Opp
      </a>    
    </div>    
    
    <!-- 2stHalf -->
    <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
        <a class='stats_dropdown-trigger' 
           data-target='AT_total_dropdown-2ndHalf--select'>
           <%= data.matchInfo.awayTeamShortName %>
        </a>
    </div>
    <div class="stats_table--opp" title='Opponent team'>
      <a class='stats_dropdown-trigger' 
         data-target='AT_total_dropdown-2ndHalf--opponent'>
         Opp
      </a>    
    </div>                     
    
  
    <% for(let m=0; m < data.matchStats[1].matches.length; m++) { %>
      <% let info = data.matchStats[1].matches[m].matchInfo %>
      <% let statistic = data.matchStats[1].matches[m][stats] %>
  
      <% if (!statistic.match.homeTeam || statistic.match.homeTeam==="no data") { %>
        <% continue %> 
      <% } %>

      <div class="matches_row" team='<%= info.awayTeam %>'>    
        <div class="stats_td--event tooltipped" 
            data-position="top" 
            data-tooltip="<div><img src='https://www.soccer24.com<%= flag_url[info.flag] %>'>
                          <span><%= info.league %></span></div>
                          <i>(<%= info.fullDate %>)</i><br/>
                          <%= info.tooltip %>">
          <div>
            <span class="stats_td--date"><%=info.fullDate %></span>
            <img src='https://www.soccer24.com<%= flag_url[info.flag] %>' alt="">
            <span class="stats_td--status"><%=info.status %></span>
          </div>
        </div>
    
        <div class="stats_td--main AT_total_match" stats="compare"><%=parseInt(statistic.match.homeTeam) 
          + parseInt(statistic.match.awayTeam) %></div>
        <div class="stats_td--basic AT_total_1stHalf" stats="compare"><%=parseInt(statistic.firstHalf.homeTeam) 
          + parseInt(statistic.firstHalf.awayTeam) %></div>
        <div class="stats_td--basic AT_total_2ndHalf" stats="compare"><%=parseInt(statistic.secondHalf.homeTeam) 
          + parseInt(statistic.secondHalf.awayTeam) %></div> 
    
        <div class="stats_td--main AT_total_match--select" stats="compare"><%= parseInt(statistic.match.selectTeam) %></div> 
        <div class="stats_td--opp AT_total_match--opponent" stats="compare"><%= parseInt(statistic.match.opponent) %></div>
      
        <div class="stats_td--main AT_total_1stHalf--select" stats="compare"><%= parseInt(statistic.firstHalf.selectTeam) %></div> 
        <div class="stats_td--opp AT_total_1stHalf--opponent" stats="compare"><%= parseInt(statistic.firstHalf.opponent) %></div>                              
        
        <div class="stats_td--main AT_total_2ndHalf--select" stats="compare"><%= parseInt(statistic.secondHalf.selectTeam) %></div> 
        <div class="stats_td--opp AT_total_2ndHalf--opponent" stats="compare"><%= parseInt(statistic.secondHalf.opponent) %></div> 
      </div>        
    <% } %>    
  
  </div>
  </div>
  
  <div id="h2h-tab" class="template_5-2-2">
    <div class="stats_table--filter" team='<%= data.matchInfo.homeTeam %>'>
      <span class="showOverall waves-effect waves-light press">Overall</span>
      <b class="show-on-small hide-on-med-and-up"><%= data.matchInfo.homeTeamShortName %> :</b>
      <b class="hide-on-small-only"><%= data.matchInfo.homeTeam %> :</b>  
      <i class="showHome waves-effect waves-light">Home</i>
      <b class="show-on-small hide-on-med-and-up"><%= data.matchInfo.awayTeamShortName %> :</b>
      <b class="hide-on-small-only"><%= data.matchInfo.awayTeam %> :</b>  
      <i class="showAway waves-effect waves-light">Away</i>
    </div>
    <div class="stats_table--header statsAway">
      <div class="stats_table--event">Event</div>
      <div class="stats_table--match">Match</div>
      <div class="stats_table--1stHalf">1stHalf</div>
      <div class="stats_table--2stHalf">2stHalf</div>
    
      <!-- Match -->
      <div class="stats_table--main" title='Total'>
        <a class='stats_dropdown-trigger' 
           data-target='H2H_total_dropdown-match'>
           Total
        </a>
      </div>
      
      <div class="stats_table--basic" title='Total 1st Half'>
        <a class='stats_dropdown-trigger' 
           data-target='H2H_total_dropdown-1stHalf'>
           <b class="show-on-small hide-on-med-and-up">1H</b>
           <b class="hide-on-small-only">1st Half</b>              
        </a>    
      </div>
      <div class="stats_table--basic" title='Total 2nd Half'>
        <a class='stats_dropdown-trigger' 
           data-target='H2H_total_dropdown-2ndHalf'>
           <b class="show-on-small hide-on-med-and-up">2H</b>
           <b class="hide-on-small-only">2nd Half</b>   
        </a>        
      </div>  
      <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
          <a class='stats_dropdown-trigger' 
             data-target='H2H_total_dropdown-match--select'>
             <%= data.matchInfo.homeTeamShortName %>
          </a>
      </div>
      <div class="stats_table--opp" title='Opponent team'>
        <a class='stats_dropdown-trigger' 
           data-target='H2H_total_dropdown-match--opponent'>
           <%= data.matchInfo.awayTeamShortName %>
        </a>    
      </div>
      
      <!-- 1stHalf -->
      <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
          <a class='stats_dropdown-trigger' 
            data-target='H2H_total_dropdown-1stHalf--select'>
            <%= data.matchInfo.homeTeamShortName %>
          </a>
      </div>
      <div class="stats_table--opp" title='Opponent team'>
        <a class='stats_dropdown-trigger' 
           data-target='H2H_total_dropdown-1stHalf--opponent'>
           <%= data.matchInfo.awayTeamShortName %>
        </a>    
      </div>    
      
      <!-- 2stHalf -->
      <div class="stats_table--main" title='<%= data.matchInfo.homeTeam %>'>
          <a class='stats_dropdown-trigger' 
             data-target='H2H_total_dropdown-2ndHalf--select'>
             <%= data.matchInfo.homeTeamShortName %>
          </a>
      </div>
      <div class="stats_table--opp" title='Opponent team'>
        <a class='stats_dropdown-trigger' 
           data-target='H2H_total_dropdown-2ndHalf--opponent'>
             <%= data.matchInfo.awayTeamShortName %>
        </a>    
      </div>                     
      
    
      <% for(let m=0; m < data.matchStats[2].matches.length; m++) { %>
        <% let info = data.matchStats[2].matches[m].matchInfo %>
        <% let statistic = data.matchStats[2].matches[m][stats] %>
        <% let homeTeam = data.matchInfo.homeTeam %>
        <% let awayTeam = data.matchInfo.awayTeam %>
  
        <% if (!statistic.match.homeTeam || statistic.match.homeTeam==="no data") { %>
          <% break %> 
        <% } %>        

        <div class="matches_row" team='<%= info.homeTeam %>'>

          <div class="stats_td--event tooltipped" 
              data-position="top" 
              data-tooltip="<div><img src='https://www.soccer24.com<%= flag_url[info.flag] %>'>
                        <span><%= info.league %></span></div>
                        <i>(<%= info.fullDate %>)</i><br/>
                        <%= info.tooltip %>">
            <div>
              <span class="stats_td--date"><%=info.fullDate %></span>
              <img src='https://www.soccer24.com<%= flag_url[info.flag] %>' alt="">
              <span class="stats_td--status"><%=info.status %></span>
            </div>
          </div>
      
          <% if (!statistic.match.homeTeam || statistic.match.homeTeam==="no data") { %>
            <div class="stats_td--no_data">There is no statistic data for this match</div>          
            <% break %> 
          <% } %>

          <div class="stats_td--main H2H_total_match" stats="compare"><%=parseInt(statistic.match.homeTeam) 
            + parseInt(statistic.match.awayTeam) %></div>
          <div class="stats_td--basic H2H_total_1stHalf" stats="compare"><%=parseInt(statistic.firstHalf.homeTeam) 
            + parseInt(statistic.firstHalf.awayTeam) %></div>
          <div class="stats_td--basic H2H_total_2ndHalf" stats="compare"><%=parseInt(statistic.secondHalf.homeTeam) 
            + parseInt(statistic.secondHalf.awayTeam) %></div> 
      
          <div class="stats_td--main H2H_total_match--select" stats="compare"><%= parseInt(statistic.match[homeTeam]) %></div> 
          <div class="stats_td--opp H2H_total_match--opponent" stats="compare"><%= parseInt(statistic.match[awayTeam]) %></div>
        
          <div class="stats_td--main H2H_total_1stHalf--select" stats="compare"><%= parseInt(statistic.firstHalf[homeTeam]) %></div> 
          <div class="stats_td--opp H2H_total_1stHalf--opponent" stats="compare"><%= parseInt(statistic.firstHalf[awayTeam]) %></div>                              
          
          <div class="stats_td--main H2H_total_2ndHalf--select" stats="compare"><%= parseInt(statistic.secondHalf[homeTeam]) %></div> 
          <div class="stats_td--opp H2H_total_2ndHalf--opponent" stats="compare"><%= parseInt(statistic.secondHalf[awayTeam]) %></div>   
          
        </div>
      <% } %>    
    
    </div>
    </div>

    <script>
      let statsHome_filter = document.querySelector("#home-tab .stats_table--filter"),
          statsAway_filter = document.querySelector("#away-tab .stats_table--filter"),
          statsH2H_filter = document.querySelector("#h2h-tab .stats_table--filter");

      const show_matches = (el)=>{
        const matches = el.parentElement.querySelectorAll(".matches_row")

        el.onclick = (e)=>{
          if (e.target.tagName !== "SPAN" && e.target.tagName !== "I") return false
          
          let select_team = el.getAttribute("team")
          
          Array.from(el.children).forEach(elem => elem.classList.remove(`press`));
          e.target.classList.add("press");

          if (e.target.classList[0] === "showOverall") {
            matches.forEach(el=>{
              el.style.display = 'contents'
            })
          }

          if (e.target.classList[0] === "showHome") {
            matches.forEach(el=>{
              el.style.display = 'contents'
              if (el.getAttribute("team")!==select_team) el.style.display = 'none'
            })
          }
      
          if (e.target.classList[0] === "showAway") {
            matches.forEach(el=>{
              el.style.display = 'contents'
              if (el.getAttribute("team")===select_team) el.style.display = 'none'
            })
        }
      }

      }

      show_matches(statsHome_filter)
      show_matches(statsAway_filter)
      show_matches(statsH2H_filter)
    </script>  